parameters:
	typeAliases:
		sweetchuck-git-commit-msg-part: '''
			array{
				enabled: bool,
				weight: int,
				marginTop: int,
				content: string,
			}
		'''
		sweetchuck-git-commit-msg-parts: "array<string, sweetchuck-git-commit-msg-part>"
		sweetchuck-git-commit-msg-part-modifier: '''
			array{
				enabled: bool,
				weight: int,
				callback: callable,
			}
		'''
		sweetchuck-git-commit-msg-part-recognizer-options: '''
			array{
				keyTemplate?: string,
				checkerPattern?: string,
			}
		'''
		sweetchuck-git-ignored-modes: '''
			""|"traditional"|"no"|"matching"
		'''
		sweetchuck-git-untracked-files-modes: '''
			""|"no"|"normal"|"all"
		'''
		sweetchuck-git-option-color-enum: '''
			"never"|"always"|"auto"
		'''
		sweetchuck-git-command-properties: '''
			array{
				workingDirectory?: null|string,
				envVars?: array<string, string>,
				executable?: null|string,
				globalOptions?: array<string, array<string, mixed>>,
				command?: array<string>,
				commandOptions?: array<string, array<string, mixed>>,
				commandArguments?: array<string, bool>,
				extraArguments?: array<string, bool>,
			}
		'''
		sweetchuck-git-command-add-remote-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				name?: null|string,
				url?: null|string,
				fetch?: bool,
				tags?: bool,
				mirror?: null|bool|'pull'|'fetch',
				master?: null|false|string,
				track?: null|array<false|string>,
			}
		'''
		sweetchuck-git-command-clone-repository-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				progress?: bool,
				config?: array<string, string>,
				rejectShallow?: bool,
				checkout?: null|bool|'no'|'force',
				bare?: bool,
				mirror?: bool,
				local?: bool,
				hardlinks?: bool,
				shared?: null|bool|'false'|'true'|'umask'|'group'|'all'|'world'|'everybody'|'0xxx',
				recurseSubmodules?: null|bool|'no','on-demand',
				jobs?: null|int|true,
				template?: null|string,
				reference?: null|string,
				referenceIfAble?: null|string,
				dissociate?: bool,
				origin?: null|string,
				branch?: null|string,
				revision?: null|string,
				uploadPack?: null|string,
				depth?: null|int,
				shallowSince?: null|string,
				shallowExclude?: null|array<string>,
				singleBranch?: null|bool|'no',
				tags?: null|bool|'no',
				shallowSubmodules?: null|bool,
				separateGitDir?: null|string,
				refFormat?: null|string,
				serverOption?: null|array<string>,
				ipv?: null|bool|'4'|'6',
				filter?: null|string,
				alsoFilterSubmodules?: null|bool,
				remoteSubmodules?: null|bool|'no','on-demand',
				sparse?: null|bool,
				bundleUri?: null|string,
				repository?: null|string,
				directory?: null|string,
			}
		'''
		sweetchuck-git-command-create-tag-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				force?: null|bool,
				name?: string,
			}
		'''
		sweetchuck-git-command-delete-tag-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				names?: array<string>|array<string, bool>,
			}
		'''
		sweetchuck-git-command-delete-branch-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				names?: array<string>|array<string, bool>,
				force?: bool,
			}
		'''
		sweetchuck-git-command-create-branch-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				name?: null|string,
				startPoint?: null|string,
				force?: null|bool,
				recurseSubmodules?: null|array<bool|'no'|'on-demand'>,
				copy?: null|bool,
			}
		'''
		sweetchuck-git-command-move-branch-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				oldName?: null|string,
				newName?: null|string,
			}
		'''
		sweetchuck-git-command-move-files-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				force?: null|bool,
				dryRun?: null|bool,
				skip?: null|bool,
				paths?: array<string>,
			}
		'''
		sweetchuck-git-command-restore-files-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				source?: null|string,
				worktree?: null|bool,
				staged?: null|bool,
				ignoreUnmerged?: null|bool,
				overlay?: null|bool,
				recurseSubmodules?: null|array<bool|string>,
				merge?: null|bool,
				conflict?: null|false|"merge"|"diff3"|"zdiff3",
				ours?: null|bool,
				theirs?: null|bool,
				ignoreSkipWorktreeBits?: null|bool,
				pathspecFromFile?: null|string,
				pathspecFileNul?: null|string,
				paths?: array<string>,
			}
		'''
		sweetchuck-git-command-switch-branch-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				detach?: null|bool,
				guess?: null|bool,
				discardChanges?: null|bool,
				merge?: null|bool,
				conflict?: null|"merge"|"diff3"|"zdiff3",
				track?: null|array<bool|string>,
				orphan?: null|bool,
				ignoreOtherWorktrees?: null|bool,
				recurseSubmodules?: null|array<bool|string>,
				createMethod?: null|"normal"|"force",
				name?: null|string,
				startPoint?: null|string,
			}
		'''
		sweetchuck-git-command-set-branch-upstream-properties: '''
			array{
				processFactory?: null|\Sweetchuck\Git\ProcessFactoryInterface,
				workingDirectory?: null|string,
				envVars?: null|array<string, string>,
				gitExecutable?: string,
				gitDir?: null|string,
				workTree?: null|string,
				cwd?: null|string,
				outcomeParser?: null|\Sweetchuck\Git\OutcomeParserInterface,
				upstream?: null|string,
				branch?: null|string,
			}
		'''
		sweetchuck-git-command-grep-files-artifacts: '''
			array{
				files?: array<string, array{matches: array<int, int>, lines: array<int, string>}>,
				filePaths?: array<string>,
			}
		'''
